<h1>Editing Listing</h1>

<%= render 'form' %>

<% if @area %>
<%= link_to 'Back',  @area %>
<% elsif @category %>
<%= link_to 'Back',  @category %>
<% else %>
<%= link_to 'Back', listings_path %>
<% end %>